<!DOCTYPE html>
<html lang="en">
<head>
    <title>Projects</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'show_my_tasks' %}">My tasks</a></li>
                    <li><a href="{% url 'list_projects' %}">My projects</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Signup</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>Projects</h1>
            <p><a href="{% url 'create_project' %}">Create a new project</a><a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            {% if object_list %}
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Number of Tasks</th>
                    </tr>
                    {% for project in object_list %}
                        <tr>
                            <td><a href="{% url 'show_project' project.id %}">{{ project.name }}</a></td>
                            <td>{{ project.tasks.all|length }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>You are not assigned to any projects</p>
            {% endif %}
        </div>
    </main>
</body>
</html>